
# Dependency directories
**/node_modules/

# docker doesn't need design artifacts
**/hackbytes.io-design/
# same for docs
**/hackbytes.io-docs/

# docker doesn't need design artifacts
**/nitelite.io-design/
# same for docs
**/nitelite.io-docs/
