
### wintersmith-docker

/tmp

### Terraform template
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore manually created tfvars for now
terraform.tfvars

### Custom

# Node.js files
npm-debug.log
build/
node_modules/
# Wintersmith files
wintersmith/build/*

# Ignore compiled/derivative files that can be rebuilt from already committed
# files.
contents/fonts/
contents/scripts/
contents/database/comments/

# Ignore compiled/derivative files that can be rebuilt from already
# committed files.
*.db*

# Ignore libs

lib/

# Ignore binary files

data/
*.sql
assets/database/

# Ignore local backup files that I manually manage for this repo
backups/
