- page = article || page
if keys_enabled
  for tag in page.metadata.tags
    if is_skill(tag)
      if tag == "dream"
        div.skill-key-content
          span.highlight.nd NON-DREAM
          | &nbsp;|&nbsp;
          span.highlight.d DREAM
          | &nbsp;|&nbsp;
          span.highlight.ld LUCID
          | &nbsp;|&nbsp;
          span.highlight.fa FA
          | &nbsp;|&nbsp;
          span.highlight.hh HH
