extends site-default

block main
  div.row.main-container
    div.medium-7.columns.content-container
      // The blog content
      div#nl-content
        block content
          h2 Welcome to zombocom!

    div.medium-3.columns.sidebar-container
      // The sidebar
      include ../includes/sidebar
