          <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
    
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-th-list"></span>
              </a>
              <a href="/" class="brand">{{ site.title }}</a>

              <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                
                  {% comment %}

                    // Nav IDs are assigned on each page in the YAML Front Matter.
                   
                    Home Page == 0;
                    Portfolio == 1;
                    Resume == 2;
                    About == 3;
                    Contact Me == 4;
                  
                  {% endcomment %}
                
                  {% if page.nav_id == 0 %}
                    <li class="active"><a href="/">Home</a></li>
                  {% else %}
                    <li><a href="/">Home</a></li>
                  {% endif %}
                  
                  {% if page.nav_id == 1 %}
                    <li class="active"><a href="/portfolio/">Portfolio</a></li>
                  {% else %}
                    <li><a href="/portfolio/">Portfolio</a></li>
                  {% endif %}
                  
                  {% if page.nav_id == 2 %}
                    <li class="active"><a href="/resume/">Resume</a></li>
                  {% else %}
                    <li><a href="/resume/">Resume</a></li>
                  {% endif %}
                  
                  {% if page.nav_id == 3 %}
                    <li class="active"><a href="/about/">About</a></li>
                  {% else %}
                    <li><a href="/about/">About</a></li>
                  {% endif %}
                  
                  {% if page.nav_id == 4 %}
                    <li class="active"><a href="/contact/">Contact Me</a></li>
                  {% else %}
                    <li><a href="/contact/">Contact Me</a></li>
                  {% endif %}
                  
                </ul>
              </div>
          
            </div>
          </div> <!-- /navbar -->
