<!-- Syndication -->
<div class="side syndicate">

  <div class="text-center">
    <h3 class="dark-title">Subscribe</h3>
  </div>

  <ul class="nav nav-list">
    <li class="nav-header">Syndication</li>

    <li><a href="http://feeds.hackBytes.com/hackBytes" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" class="sidebar-icon" alt="RSS icon" />&nbsp;Subscribe in a reader</a></li>
  </ul>

</div> <!-- syndicate -->
<p></p>

<!-- Recent Posts -->
<div class="side">

  <div class="text-center">
    <h3 class="dark-title">Navigation</h3>
  </div>

  <ul class="nav nav-list">
    <li class="nav-header">Recent Posts</li>
    
    {% for post in site.categories.blog limit:10 %}
    <li><a href="{{ post.url }}/" class="title-link">{{ post.title }}</a></li>
    {% endfor %}

  </ul>
</div> <!-- side -->
<p></p>

<!-- About Me -->
<div class="side">
  <div class="text-center">
    <h3 class="dark-title">About the Author</h3>
  </div>
  <p class="about-me">
  <img src="/img/avatars/avatar-byronsanchez.png" title="Byron Sanchez" alt="Byron Sanchez" class="profile" />
  {% include about.html %}
  </p>

  <ul class="nav nav-list">
    <li class="nav-header">Links</li>
    <li><a href="/about/">About Me</a></li>
    <li><a href="http://www.twitter.com/byronsanchez/">@byronsanchez</a></li>
    <li><a href="http://www.github.com/byronsanchez/">GitHub</a></li>
    <li><a href="https://plus.google.com/105947647411091420403/">Google+ Profile</a></li>
    <li><a href="http://www.linkedin.com/in/byronsanchez/">LinkedIn</a></li>
  </ul>
</div> <!-- side -->
<p></p>

