<!-- About Me -->
<div class="side">
  <div class="text-center">
    <h3 class="dark-title">About the Author</h3>
  </div>
  <p class="about-me">
  <img src="/img/avatars/avatar-byronsanchez.png" title="Byron Sanchez" alt="Byron Sanchez" class="profile" />
  {% include about.html %}
  </p>

  <ul class="nav nav-list">

    <li class="nav-header">Contact</li>

    <li>
      <a
        href="http://hackbytes.com"
        rel="alternate">
        <img src="/img/icons/person-icon-16x16.png"
        class="sidebar-contact-icon" alt="Person icon" />&nbsp;Byron Sanchez
      </a>
    </li>

    <li>
      <img src="/img/icons/phone-icon-16x16.png"
      class="sidebar-contact-icon" alt="Phone icon" />&nbsp;{{ site.phone }}
    </li>

    <li>
      <a
        href="mailto:{{ site.email }}"
        rel="alternate">
        <img src="/img/icons/mail-icon-16x16.png"
        class="sidebar-contact-icon" alt="Mail icon" />&nbsp;{{ site.email }}
      </a>
    </li>

    <li>
      <img src="/img/icons/location-icon-16x16.png"
      class="sidebar-contact-icon" alt="Location icon" />&nbsp;Philadelphia, PA
    </li>

    <li class="nav-header">Links</li>

    <li>
      <a href="/about/">
        <img src="/img/icons/user-icon-16x16.png"
        class="sidebar-icon" alt="User icon" />&nbsp;About Me
      </a>
    </li>

    <li>
      <a href="http://www.twitter.com/byronsanchez/">
        <img src="/img/icons/twitter-icon-16x16.png"
        class="sidebar-icon" alt="Twitter icon" />&nbsp;@byronsanchez
      </a>
    </li>

    <li>
      <a href="http://www.github.com/byronsanchez/">
        <img src="/img/icons/github-icon-16x16.png"
        class="sidebar-icon" alt="Github icon" />&nbsp;GitHub
      </a>
    </li>

    <li>
      <a href="https://plus.google.com/105947647411091420403/">
        <img src="/img/icons/google-plus-icon-16x16.png"
        class="sidebar-icon" alt="Google Plus icon" />&nbsp;Google+ 
        Profile
      </a>
    </li>

    <li>
      <a href="http://www.linkedin.com/in/byronsanchez/">
        <img src="/img/icons/linkedin-icon-16x16.png"
        class="sidebar-icon" alt="LinkedIn icon" />&nbsp;LinkedIn
      </a>
    </li>

  </ul>
</div> <!-- side -->
<p></p>


<!-- Syndication -->
<div class="side syndicate">

  <div class="text-center">
    <h3 class="dark-title">Subscribe</h3>
  </div>

  <ul class="nav nav-list">
    <li class="nav-header">Syndication</li>

    <li><a href="http://feeds.hackBytes.com/hackBytes" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" class="sidebar-icon" alt="RSS icon" />&nbsp;Subscribe in a reader</a></li>
  </ul>

</div> <!-- syndicate -->
<p></p>

<!-- Recent Posts -->
<div class="side">

  <div class="text-center">
    <h3 class="dark-title">Navigation</h3>
  </div>

  <ul class="nav nav-list">
    <li class="nav-header">Recent Posts</li>
    
    {% for post in site.categories.blog limit:10 %}
    <li><a href="{{ post.url }}/">{{ post.title }}</a></li>
    {% endfor %}

  </ul>
</div> <!-- side -->
<p></p>

