// MAIN PORTFOLIO PAGE
// ---------------------------------------

h3.project-title {
	font: 16px "Roboto","Helvetica Neue",Helvetica,Arial,Freesans,Clean,sans-serif;
  color: #363636 !important;
  font-weight: 500;
}

.portfolio-container {
  position: relative;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#filters {
  margin: 1% 0 3.25% 0;
  padding:0;
  list-style:none;
  display: block;
  float: left;
  text-align: center;
  width: 100%;
}

#filters li {
  display: inline;
}

#filters li span {
  padding:5px 20px;
  text-decoration:none;
  color:#666;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

#filters li span.mixitup-control-active {
  background: #F9A732;
  color:#fff;
}

/* Container
---------------------------------------------------------------------- */

.portfoliolist {
    padding: 1rem;
    //text-align: justify;
    font-size: 0.1px;
}

.portfoliolist:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.portfolio {
    display: inline-block;
    vertical-align: top;
}

.portfolio {
    background: #fff;
    margin-bottom: 1rem;
    position: relative;
}

.portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width:32%;
  margin:0.66666666%;
  display:none;
  display: inline-block;
  float:left;
  overflow:hidden;
}

.portfolio-wrapper {
  overflow:hidden;
  position: relative !important;
  background: none repeat scroll 0 0 rgba(251, 180, 80, 0.2);
  //border: 1px solid rgba(248, 148, 6, 0.2);
  cursor:pointer;
}

.portfolio img {
  max-width:100%;
  position: relative;
}

.portfolio .text-category {
  display:block;
  font-size:9px;
}

.portfolio .project-label {
  text-align: center;
}


/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .portfoliolist .portfolio {
    width:48%;
    margin:1%;
  }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {

  .portfoliolist .portfolio {
    width:48%;
    margin:1%;
  }

  #ads {
    display:none;
  }

}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #ads {
    display:none;
  }

}

@media (max-width: 480px) {
  .portfoliolist .portfolio {
    width:98%;
    margin:1%;
  }

  #ads {
    display:none;
  }

}

// INDIVIDUAL PORTFOLIO PAGES
// ---------------------------------------

.project-description {
  margin-bottom: 2em;
}

.code-snippet-table {
  margin: 0 auto;
}

#blog .code-snippet-table h2 {
  color: #aaa;
  text-align: center;
}

.code-snippet-table .snippet-description {
  color: #aaa;
  font-size: 1em;
  text-align: center;
}

.project-tagline {
  font-style: italic;
}

#blog h3.dark-title {
  background: #222222;
  /*background: #1b1b1b;*/
  font-size: 14px;
  font-weight: bold;
  color: #f2f2f2;
  padding: 0.6em;
}

// ADDITIONAL STUFF
// ---------------------------------------

.portfolio-container#filters {
  @include clearfix;
}

//.side-nav>li>a, .side-nav .nav-header {
//    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
//}
//
.nav-header {
//    display: block;
//    font-size: 11px;
    font-weight: bold;
//    line-height: 20px;
    color: #aaa;
//    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-transform: uppercase;
}

.nav > li > a > img {
  max-width: none;
}

.sidebar-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border: 0;
  margin-right: 5px;
}

#blog .side h3.dark-title {
  margin: 0;
}

.side-nav li a:not(.button) {
  padding: .4375rem 0;
}
