---
layout: blog-page
title: Resume
nav_id: 2
---

<!-- Background/About me section -->
<div class="row-fluid">
  <div class="span12">
  
    <h2 class="resume-title">Background</h2>

    {% include about.html %}

    {% include services.html %}

    <p>Feel free to <a href="/contact/">contact me</a> if you want more 
      information.</p>

  </div>
</div>

<!-- SKILLS SECTION -->
<div class="row-fluid">
  <div class="span6">
    <h2 class="resume-title">Skills</h2>
    
    {% include skills.html %}
    
  </div>

  <div class="span6">
    <h2 class="resume-title">Environment</h2>

    {% include environment.html %}

  </div>
  
</div>

<!-- EDUCATION SECTION -->
<div class="row-fluid resume-outro">
  <div class="span12">
  
    <h2 class="resume-title">Resume</h2>

    <p>

      <a href="/byronsanchez-resume.pdf">
        <img src="/img/icons/pdf-icon-24x24.png"
        class="resume-icon-large" alt="PDF icon" />&nbsp;Download PDF
      </a>
    &nbsp;|&nbsp;
      <a href="/byronsanchez-resume.odt">
        <img src="/img/icons/odt-icon-24x24.png"
        class="resume-icon-large" alt="ODT icon" />&nbsp;Download ODT
      </a>
    </p>
    
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <ul class="resume-info">

      <li>
        <a
          href="http://hackbytes.com"
          rel="alternate">
          <img src="/img/icons/person-icon-16x16.png"
          class="resume-icon" alt="Person icon" />&nbsp;Byron Sanchez
        </a>
      </li>

      <li class="muted">&middot;</li>

      <li>
        <img src="/img/icons/phone-icon-16x16.png"
        class="resume-icon" alt="Phone icon" />&nbsp;{{ site.phone }}
      </li>

      <li class="muted">&middot;</li>

      <li>
        <a
          href="mailto:{{ site.email }}"
          rel="alternate">
          <img src="/img/icons/mail-icon-16x16.png"
          class="resume-icon" alt="Mail icon" />&nbsp;{{ site.email }}
        </a>
      </li>

      <li class="muted">&middot;</li>

      <li>
        <img src="/img/icons/location-icon-16x16.png"
        class="resume-icon" alt="Location icon" />&nbsp;Philadelphia, PA
      </li>

    </ul>
  </div>
</div>

