---
layout: portfolio-default
title: Portfolio
category: portfolio
nav_id: 1
---

<div class="blog">

<header>
  <h2 class="title"><a href="/portfolio/" class="title-link">Portfolio</a></h2>
</header>

{% include services.html %}

<!-- Main portfolio content -->
<div class="portfolio-container">


  {% assign portfolio_tags = site.portfolio_tags | join " " %}

  <ul id="filters" class="clearfix">
    <li><span>Filter:</span></li>
    <li><span class="filter" data-filter="all">All</span></li>

    {% for tag in site.portfolio_tags %}
    <li><span class="filter" data-filter=".{{ tag }}">{{ tag | titleize }}</span></li>
    {% endfor %}
  </ul>

  <div id="portfoliolist">

  {% for post in site.categories.portfolio %}

  {% assign tags = post.tags | join " " %}

    <a href="{{ post.url }}">
      <div class="portfolio {{ tags }}" data-myorder="{{ forloop.index }}" >
        <div class="portfolio-item">

          <div class="portfolio-wrapper">       <img src="/img/portfolio/{{ post.title | downcase | replace:' ','-' | replace:'.','-' }}/cover.png" alt="" />
          </div>

          <div class="project-label">
            <div class="project-label-text">
              <h3 class="project-title">{{ post.title }}</h3>
            </div>
          </div> <!--project-label-->

        </div> <!--portfolio-item-->
      </div>
    </a>


  {% endfor %}

  </div>

</div><!-- portfolio-container -->

</div><!-- blog -->

