doctype html
block vars
  - var bodyclass = "blog";

html

  include ../includes/header

  body(id=bodyclass)

    div.content
      div.row.code-snippet-tale
        div.small-10.columns
          section.content!= typogr(page.html).typogrify()

  footer.footer-bottom

    include ../includes/scripts

