doctype html
block vars
  - var bodyclass = "blog";
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html(class='no-js')
  //<![endif]

  include ../includes/header

  body(id=bodyclass)

    div.content
      // Hero Unit
      section#hero-unit
        div.row
          div.small-10.columns
            div.logo-container

              // Logo Text
              div.logo-text
                h1
                  a(href='/', class='brand')
                    span.hack hack
                    span.bytes Bytes

      // TODO: Draw a cartoon image and put it here as bg with stars too
      div.background-image

      include ../mixins/navbar
      block navbar
        +navbar(-1)

    block main

  footer.footer-bottom
    div.row
      div.small-10.columns
        footer
          include ../includes/footer

    include ../includes/scripts

