---
layout: blog-default
---

<div class="blogbody">
  <article>
    <header>
      <h2 class="title"><a href="{{ page.url }}/" class="title-link">{{ page.title }}</a></h2>
      <h3 class="date"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></h3>
    </header>

    {{ content }}

    <br />
    <footer>
      <!-- Author Information -->
      <div class="posted muted">
        Published by
        {% if post.author %}
          {{ post.author }}
        {% else %}
          {{ site.author }}
        {% endif %}
      </div>

      {% if site.related_posts %}
      <!-- Related Posts -->
      <h3>Related posts:</h3>
      <div class="related-posts">
        <ul>
          {% for post in site.related_posts limit:5 %}
            <li><a href="{{ post.url }}/">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if page.blog.previous or page.blog.next %}
      <!-- Pagination -->
      <div class="footernav">

        {% if page.blog.previous %}
        <div style="float:left;"><a rel="prev" href="{{ page.blog.previous.url }}/">&laquo;&nbsp;{{ page.blog.previous.title }}</a></div>
        {% endif %}

        {% if page.blog.next %}
        <div style="float:right;"><a rel="next" href="{{ page.blog.next.url }}/">{{ page.blog.next.title }}&nbsp;&raquo;</a></div>
        {% endif %}

      </div> <!-- footernav -->
      {% endif %}
    </footer>
  </article>
</div> <!-- blogbody solo -->

<!-- Comments Section -->
    {% case page.comments_num %}
      {% when 0 %}
        <div class="comments-count">No Comments</div>
      {% when 1 %}
        <div class="comments-count">1 Comment</div>
      {% else %}
        <div class="comments-count">{{page.comments_num}} Comments</div>
    {% endcase %}
    {% for c in page.comments %}
      <div class="comments-body {{ c.name | handleize }} {% cycle 'odd', 'even' %}" id="{{ c.id }}">
        <!-- OLD: <p class="comment_header"> -->
          {{ c.comment }}
        <div class="comments-meta clearfix">
          <span class="avatar"><img src="{{ site.gravatar_url }}/{{ c.gravatar_hash }}?s={{ site.gravatar_size }}&d={{ site.gravatar_default }}" /></span>
            <div class="comment-info">
            {% if c.link and c.link != '' %}
            <p class="comment-name"><a rel="nofollow" target="_blank" title="{{c.link}}" href="{{c.link}}">{{c.name}}</a></p>
            {% else %}
            <p class="comment-name">{{c.name}}</p>
            {% endif %}
            <p class="comment-date muted">{{c.date | date: "%B %e, %Y %l:%M %p"}} | <a href="{{ page.url}}/#{{ c.id }}">Permalink</a></p>
          </div>
        </div>
      </div>
      {% endfor %}

{% if page.comments_enabled %}

    <p></p>
    <div id="endcomments"></div>

    <!-- comment form -->
    <div id="comments">

    <!-- section headers -->
    <h2 id="header-post-comment" class="comments-header">Post a comment</h2>
    <h3 id="header-verify-comment" class="comments-header hiddenBox">Verify your Comment</h3>
    <h3 id="header-preview-comment" class="comments-header hiddenBox">Previewing your Comment</h3>

    <!-- comment notices. -->
    <div id="comments-open-response-success" class="alert alert-success hiddenBox">
      <p class="comments-open-subtext">
        Success! Your comment has been submitted and is now pending approval. <a href="javascript:void 0;" onclick="window.location.hash='#comment-form';window.location.reload(false)">Post another comment</a>
      </p>
    </div> <!-- comments-open-response-success -->

    <div id="comments-open-response-error" class="alert alert-error hiddenBox">
    </div> <!-- comments-open-response-error -->

    <!-- comment preview -->
  	<div id="comment-preview" class="hiddenBox">
      <div class="comments-content">
        <div class="comment">
          <div id="comment-preview-content" class="comment-content">
            <!-- Place preview content here -->
          </div>
          <p class="comment-footer">
            Posted by:
            <span id="comment-preview-author"></span>&nbsp;on&nbsp;<span id="comment-preview-datetime"></span>
          </p>
        </div>
      </div>
    </div>

    <!-- Notice below the comment preview. -->
    <div id="comment-preview-confirmation" class="hiddenBox yellowBox">
      <p>This is only a preview. Your comment has not yet been posted.</p>
      <form id="comment-preview-form">
        <input type="submit" name="post" id="comment-confirm-post" value="&nbsp;Post&nbsp;" class="btn btn-primary" />
        <input type="submit" name="edit" id="comment-edit" value="&nbsp;&nbsp;Edit&nbsp;&nbsp;" class="btn" />
        <div id="previewFormSpinner" class="hiddenBox"></div>
      </form>
    </div>

    <!-- The main comment section -->
    <div id="primary-comment-form" class="comment-form">
      <form id="comment-form">
        <fieldset>
          <input type="hidden" name="post_id" value="{{page.id}}" />
          <input type="hidden" name="return_url" value="{{page.url}}" />

          <div class="comments-open">
            <div id="comments-open-content" class="comments-open-content">

              <!-- Comment form fields. -->

              <div id="comments-open-text" style="display: none;">
                <label for="comment-text">Comment <span class="form-required" title="This field is required.">*</span></label>
                <textarea id="comment-text" name="comment" rows="10" cols="30" required></textarea>
                <p class="comments-open-subtext">
                  All comments are held for moderation. Markdown formatting is available.
                </p>
              </div> <!-- comments-open-text -->

              <div id="comments-open-data" style="display: none;">

                <!-- <p>Your Information</p> -->
                <p>
                  <label for="comment-author">Name</label>
                  <input type="text" id="comment-author" name="name" size="30" class="grayText" placeholder="Name" />
                </p>
                <p>
                  <label for="comment-email">Email Address</label>
                  <input type="text" id="comment-email" name="email" size="30" class="grayText" placeholder="test@example.com" />
                  <span id="comment-email-error" class="comment-error hiddenBox">Please enter a valid email address</span>
                </p>
                <p>
                  <label for="comment-url">Web Site URL</label>
                  <input type="text" id="comment-url" name="link" size="30" class="grayText"  placeholder="http://www.example.com" />
                  <span id="comment-url-error" class="comment-error hiddenBox">Invalid URL</span>
                </p>

              </div> <!-- comments-open-data -->

              <div id="comments-open-footer" class="comments-open-footer" style="display: none;">
                <!-- Initial button states == disabled -->
                <input type="submit" name="post" id="comment-post-button" value="&nbsp;Post&nbsp;" class="btn btn-primary" disabled="disabled" />
                <input type="submit" name="preview" id="comment-preview-button" value="&nbsp;Preview&nbsp;" class="btn" disabled="disabled" />
                <div id="commentEntryFormSpinner" class="commentSpinner hiddenBox"></div>
              </div> <!-- comments-open-footer -->

            </div> <!-- comments-open-content -->

          </div> <!-- comments-open -->
        </fieldset>
      </form>

    <!-- noscript warning-->
    <noscript>
			<p>Please enable JavaScript to submit a comment.</p>
		</noscript>

    </div> <!-- primary-comment-form -->
  </div> <!-- /comments -->
{% endif %}
