div.text-center
  h2.dark-title Contact

ul.side-nav
  li.nav-header Contact
  li
    a(href="https://hackbytes.com",rel="alternate")
      img(src="/img/icons/person-icon-16x16.png",alt="Person icon").sidebar-contact-icon
      | &nbsp;
      | Byron Sanchez
  li
    img(src="/img/icons/phone-icon-16x16.png",alt="Phone icon").sidebar-contact-icon
    | &nbsp;
    | #{ locals.phone }
  li
    a(href="mailto:#{ locals.email }",rel="alternate")
      img(src="/img/icons/mail-icon-16x16.png",alt="Mail icon").sidebar-contact-icon
      | &nbsp;
      | #{ locals.email }
  li
    img(src="/img/icons/location-icon-16x16.png",alt="Location icon").sidebar-contact-icon
    | &nbsp;
    | Philadelphia, PA
